
    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: hsl(0, 0%, 98%);
        margin: 0;
    }
    .hero {
        text-align: center;
        padding: 50px 20px;
        width: 600px;
        margin: 0 auto;
        color: rgb(111, 110, 124);
    }
    .hero h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
    }
    #hero-title {
        font-weight: lighter;
    }
    .card{
        background-color: white;
        color: rgb(111, 110, 124);
        padding: 30px 10px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    #supervisor {
        border-top: 4px solid hsl(180, 62%, 55%);
    }
    #team-builder {
        border-top: 4px solid hsl(0, 75%, 60%);
    }
    #karma {
        border-top: 4px solid hsl(35, 90%, 60%);
    }
    #calculator {
        border-top: 4px solid hsl(150, 100%, 75%);
    }
    .card img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
        padding-left: 230px;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .center {
        display: flex;
        flex-direction: column;
        
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  